# ---------------------------------------
# 🔧 Cloudflare Wrangler の一時ファイル
.wrangler/

# 📦 Node.js 関連
node_modules/

# 📂 一時ファイルやキャッシュ
*.log
*.tmp
*.bak

# 💻 OS依存ファイル
.DS_Store
Thumbs.db

# 変換前/後の画像
compress/

# yamlの実装できなかった機能
.save/

# 💡 備考
# .env 系ファイルは現状未使用のため省略
